.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3125rem;
    border: 1px solid #BEBEBE;
}

.cabecario {
    display: flex;
    width: fit-content;
    padding: 0.625rem 1.25rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

.exibicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.exibicoes div {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    border: 2px solid #212121;
}

.icone {
    width: 1.5rem;
    color: #212121;
}

.filtros {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.nova_tarefa {
    padding: 0.4rem 1rem;
    border-radius: 0.625rem;
    border: 2px solid var(--cor-principal);
    background: var(--cor-principal);
    color: var(--fonte-cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item {
    font-family: var(--fonte-principal);
    color: var(--texto-cor-principal);
    display: flex;
    padding: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    border-top: 0.5px solid #BEBEBE;
    background: #FFF;
    gap: 2rem;
}

.data {
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.data span {
    font-size: 1rem;
    font-weight: 500;
}

.horario {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    font-size: 0.75rem;
    font-weight: 400;
}

.categoria {
    color: var(--cor-principal);
    width: 0.9375rem;
}

.nome {
    font-size: 0.75rem;
    font-weight: 500;
}

.opcoes {
    width: 0.32406rem;
    margin-left: auto;
}