@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.body {
    background-color: #D4DFF5;

}

.filtro {
    display: flex;
    gap: 0.625rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D4DFF5;
}

.legenda {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.625rem;
    flex-wrap: wrap;
}


.documentos {
    color: #9C9C9C;
    ;
    font-weight: 600;
}

.chevron_icon {
    color: #9C9C9C;
}

.receitas {
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-left: 0.62rem;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
        flex-direction: column;
    }

    .side {
        flex-direction: row;
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}