@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');



.body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #D4DFF5;
    
}