<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link href="header.css" rel="stylesheet">
</head>
<body>
    <div class="header" id="header">
    
        <div class="logo_img">
            <img src="Logo.png" class="img_logo_header" alt="MindCare">
        </div>

        <div class="navigation_header">
            <a href="#" class="text_item_header">Programas de auto cuidado</a>
            <a href="#" class="text_item_header">Agendar Consulta</a>
            <a href="#" class="text_item_header">Agenda</a>
            <a href="#" class="text_item_header">Receitas</a>
        </div>

        <div class="icon_img">
            <img src="perfil.png" class="img_icon_header">
        </div>

    </div>

</body>
</html>