@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

.header,
.navigation_header {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.text_item_header {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    padding: 20px;
}

.navigation_header a:hover {
    color: #29aaff;
    transition: 0.5s;
}

.header {
    border-bottom: 1px solid #D0D0D0;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 90px;
    justify-content: space-between;
}

.img_logo_header {
    height: 95px;
    margin-left: 35px;
}

.img_icon_header {
    height: 60px;
    border-bottom: 100px;
    margin-right: 50px;
}