.main_home {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: var(--texto-cor-principal);
    align-items: center;
    justify-content: center;
}