.container {
    display: flex;
    max-width: 20rem;
    width: 100%;
    min-width: 10rem;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.76556rem;
    background: #FFF;
    box-shadow: var(--box-shadow);
    color: var(--texto-cor-principal);
    position: relative;
}

.cabecalho {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.foto {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 4.375rem;
    overflow: hidden;
}

.foto img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nome_medico {
    color: var(--texto-cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.endereco {
    color: var(--texto-cor-principal);
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icone_endereco {
    width: 0.5rem;
}

.disponibilidade {
    width: fit-content;
    display: flex;
    padding: 0.0625rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background: var(--cor-sucesso);

    color: var(--texto-cor-secundaria);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    align-self: stretch;
}

.descricao_titulo {
    color: var(--texto-cor-opaca);
    font-family: var(--fonte-principal);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descricao_conteudo {
    color: var(--texto-cor-principal);
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28125rem;
    /* 170.833% */
}

.especialidades {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
    align-self: stretch;
}

.especialidades_titulo {
    color: var(--texto-cor-opaca);
    font-family: Poppins;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125rem;
}

.especialidades_lista {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.3125rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.especialidades_servico {
    display: flex;
    padding: 0.0625rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    border: 1px solid var(--cor-principal);
    color: var(--cor-principal);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.5s;
    cursor: pointer;
}

.especialidades_servico:hover{
    background-color: var(--cor-principal);
    color: var(--texto-cor-secundaria);
}

.botao {
    display: flex;
    padding: 0.625rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0.3125rem;
    background: var(--cor-principal);
    color: #FFF;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;

    transition: 0.5s
}

.botao:hover{
    box-shadow: 0px 4px 4px 0px rgba(24, 160, 251, 0.25);
    transform: scale(1.01);
}

@media (max-width: 768px) {
    .container{
        max-width: 100%;
    }
}